<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/toc">Help Topics</a></li>
	        		<li><a href="/index">Index</a></li>
	        		<li><a href="/search">Find Topic</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pharbeso@cisco.com">email</a></li>
	        		<li><a href="https://github.com/pharbeson">github.com/pharbeson</a></li>
				</ul>
			</footer>
		</body>
	</html>
