<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		
	        	<a href="/">Home</a><br>
		        <a href="/toc">Help Topics</a><br>
	        	<a href="/index/index.html">Index</a><br>
	        	<a href="/search">Find Topic</a><br>
	    		
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<a href="mailto:pharbeso@cisco.com">email</a><br>
	        	<a href="https://github.com/pharbeson">github.com/pharbeson</a>
			</footer>
		</body>
	</html>
